{% extends "base.html" %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li class="active">Iconography</li>
{% endblock breadcrumbs %}

{% block styles %}
<style type="text/css" media="screen">
/*
 * Glyphicons
 *
 * Special styles for displaying the icons and their classes in the docs.
 */

.bs-glyphicons {
  margin: 0 -10px 20px;
  overflow: hidden;
}
.bs-glyphicons-list {
  padding-left: 0;
  list-style: none;
}
.bs-glyphicons {
  float: left;
/*  width: auto;*/
/*  height: 200px;*/
  padding: 10px;
  font-size: 10px;
  line-height: 1.4;
  text-align: center;
}

.bs-glyphicons img {width:100px; height:auto;}
.bs-glyphicons .glyphicon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}
.bs-glyphicons .glyphicon-class {
  display: block;
  text-align: center;
  word-wrap: break-word; /* Help out IE10+ with class names */
}
.bs-glyphicons li:hover {
  color: #fff;
/*  background-color: #563d7c;*/
}

@media (min-width: 768px) {
  .bs-glyphicons {
    margin-right: 0;
    margin-left: 0;
  }
  .bs-glyphicons li {
    width: 12.5%;
    font-size: 12px;
  }
}

#iconographytable td {height:100px !important;}
</style>
{% endblock styles %}

{% block body %}
<div class="col-lg-12">
  <h1>UN ARMS Iconography <small>(35 of 77 icons done)</h1>
  
  <table id="iconographytable" class="display" width="100%" cellspacing="0" data-page-length='100'>
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Image (Drag and drop-ready PNG )</th>
              </tr>
          </thead>
          <tfoot>
              <tr>
                  <th>Name</th>
                  <th>Image (Drag and drop-ready PNG )</th>
              </tr>
          </tfoot>
          <tbody>
              <tr>
                <td>Access</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-access.png" width="278" height="414" alt="Access"></span></td>
              </tr>
              <tr>
                <td>Accession</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-accession.png" width="598" height="473" alt="Accession"></span></td>
              </tr>
              <tr>
                <td>Active records</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-active-records.png" width="320" height="413" alt="Active Records"></span></td>
              </tr>
              <tr>
                <td>Administrative records</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-administrative-records.png" width="320" height="416" alt="Administrative Records"></span></td>
              </tr>
              <tr>
                <td>Advice</td>
                <td></td>
              </tr>
              <tr>
                <td>Aggregation</td>
                <td></td>
              </tr>
              <tr>
                <td>Appraisal</td>
                <td></td>
              </tr>
              <tr>
                <td>Archives</td>
                <td></td>
              </tr>
              <tr>
                <td>Assist</td>
                <td></td>
              </tr>
              <tr>
                <td>Briefcases, suitcases or coats</td>
                <td></td>
              </tr>
              <tr>
                <td>Box (brown)</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-box-brown.png" width="413" height="293" alt="Box Brown"></span></td>
              </tr>
              <!-- 
                ****** This is now 'preserve' ******
                <tr>
                <td>Box (grey)</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-box-grey.png" width="364" height="408" alt="Box Grey"></span></td>
              </tr> -->
              <tr>
                <td>Business continuity</td>
                <td></td>
              </tr>
              <tr>
                <td>Capture</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-capture.png" width="433" height="562" alt="Box Grey"></span></td>
              </tr>
              <tr>
                <td>Cell phones</td>
                <td></td>
              </tr>
              <tr>
                <td>Classification</td>
                <td></td>
              </tr>
              <tr>
                <td>Copy</td>
                <td></td>
              </tr>
              <tr>
                <td>Contact (telephone)</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-contact.png" width="475" height="396" alt="Contact"></span></td>
              </tr>
              <tr>
                <td>Cost</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-cost.png" width="403" height="613" alt="Cost"></span></td>
              </tr>
              <tr>
                <td>Custody</td>
                <td></td>
              </tr>
              <tr>
                <td>Data</td>
                <td></td>
              </tr>
              <tr>
                <td>Decision</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-decision.png" width="353" height="322" alt="Decision"></span></td>
              </tr>
              <tr>
                <td>Declare (record)</td>
                <td></td>
              </tr>
              <tr>
                <td>Declassification</td>
                <td></td>
              </tr>
              <tr>
                <td>Develop</td>
                <td></td>
              </tr>
              <tr>
                <td>Digital / electronic Records</td>
                <td></td>
              </tr>
              <tr>
                <td>Digital cameras</td>
                <td></td>
              </tr>
              <tr>
                <td>Digitisation</td>
                <td></td>
              </tr>
              <tr>
                <td>Destruction / Destroy / Disposal</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-disposal.png" width="307" height="416" alt="Disposal"></span></td>
              </tr>
              <tr>
                <td>Document</td>
                <td></td>
              </tr>
              <tr>
                <td>Drawing</td>
                <td></td>
              </tr>
              <tr>
                <td>Dropsheet (document separation sheet)</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-dropsheet.png" width="412" height="306" alt="Dropsheet"></span></td>
              </tr>
              <tr>
                <td>Evidence</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-evidence.png" width="403" height="489" alt="Evidence"></span></td>
              </tr>
              <tr>
                <td>Explore Archives</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-explore-archives.png" width="1080" height="904" alt="Explore Archives"></span></td>
              </tr>
              <tr>
                <td>File Classification Scheme</td>
                <td></td>
              </tr>
              <tr>
                <td>File Plan</td>
                <td></td>
              </tr>
              <tr>
                <td>Film</td>
                <td></td>
              </tr>
              <tr>
                <td>Finding Aid</td>
                <td></td>
              </tr>
              <tr>
                <td>Fonds</td>
                <td></td>
              </tr>
              <tr>
                <td>Food and beverages</td>
                <td></td>
              </tr>
              <tr>
                <td>Form (electronic)</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-electronic-form.png" width="372" height="418" alt="Electronic Form"></span></td>
              </tr>
              <tr>
                <td>Guide</td>
                <td></td>
              </tr>
              <tr>
                <td>Hand-held personal scanners</td>
                <td></td>
              </tr>
              <tr>
                <td>Improve</td>
                <td></td>
              </tr>
              <tr>
                <td>Inactive Records</td>
                <td></td>
              </tr>
              <tr>
                <td>Information</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-information.png" width="473" height="357" alt="Information"></span></td>
              </tr>
              <tr>
                <td>Laptops</td>
                <td></td>
              </tr>
              <tr>
                <td>Learn</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-learn.png" width="989" height="1350" alt="Learn"></span></td>
              </tr>
              <tr>
                <td>Local Archive</td>
                <td></td>
              </tr>
              <tr>
                <td>Lockers</td>
                <td></td>
              </tr>
              <tr>
                <td>Manage Records</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-manage-records.png" width="1207" height="834" alt="Manage Records"></span></td>
              </tr>
              <tr>
                <td>Map</td>
                <td></td>
              </tr>
              <tr>
                <td>Metadata</td>
                <td></td>
              </tr>
              <tr>
                <td>Microfilm</td>
                <td></td>
              </tr>
              <tr>
                <td>Noise (Audible music, cell phone conversations, or other distracting noises)</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-noise.png" width="473" height="260" alt="Noise"></span></td>
              </tr>
              <tr>
                <td>Notepads</td>
                <td></td>
              </tr>
              <tr>
                <td>Office of record</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-office-of-record.png" width="473" height="376" alt="Office Of Record"></span></td>
              </tr>
              <tr>
                <td>Paper</td>
                <td></td>
              </tr>
              <tr>
                <td>Pencil</td>
                <td></td>
              </tr>
              <tr>
                <td>Photograph</td>
                <td></td>
              </tr>
              <tr>
                <td>Poster</td>
                <td></td>
              </tr>
              <tr>
                <td>Preservation / Preserve</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-preserve.png" width="924" height="1036" alt="Preservation / Preserve"></span></td>
              </tr>
              <tr>
                <td>Preserve</td>
                <td></td>
              </tr>
              <tr>
                <td>Record</td>
                <td></td>
              </tr>
              <tr>
                <td>Records</td>
                <td></td>
              </tr>
              <tr>
                <td>Record centre (office of record)</td>
                <td></td>
              </tr>
              <tr>
                <td>Record copy</td>
                <td></td>
              </tr>
              <tr>
                <td>Record-keeping system</td>
                <td></td>
              </tr>
              <tr>
                <td>Records creation</td>
                <td></td>
              </tr>
              <tr>
                <td>Records management</td>
                <td></td>
              </tr>
              <tr>
                <td>Registry</td>
                <td></td>
              </tr>
              <tr>
                <td>Research</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-research.png" width="473" height="304" alt="Research"></span></td>
              </tr>
              <tr>
                <td>Retention schedule</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-retention-schedule.png" width="373" height="415" alt="Retention Schedule"></span></td>
              </tr>
              <tr>
                <td>Scan</td>
                <td></td>
              </tr>
              <tr>
                <td>Scanner (flatbed)</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-scanner-flatbed.png" width="474" height="165" alt="Scanner Flatbed"></span></td>
              </tr>
              <tr>
                <td>Send (N)</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-send-n.png" alt="Send N"></td>
              </tr>  
              <tr>
                <td>Send (NE)</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-send-ne.png" width="356" height="361" alt="Send Ne"></span></td>
              </tr>  
              <tr>
                <td>Send (E)</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-send-e.png" width="419" height="224" alt="Send E"></span></td>
              </tr>  
              <tr>
                <td>Send (SE)</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-send-se.png" width="361" height="357" alt="Send Se"></span></td>
              </tr>  
              <tr>
                <td>Send (S)</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-send-s.png" width="217" height="415" alt="Send S"></span></td>
              </tr>  
              <tr>
                <td>Send (SW)</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-send-sw.png" width="355" height="361" alt="Send Sw"></span></td>
              </tr>  
              <tr>
                <td>Send (W)</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-send-w.png" width="416" height="218" alt="Send W"></span></td>
              </tr>  
              <tr>
                <td>Send (NW)</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-send-nw.png" width="361" height="355" alt="Send Nw"></span></td>
              </tr>              
              <tr>
                <td>Series</td>
                <td></td>
              </tr>
              <tr>
                <td>Sound recording</td>
                <td></td>
              </tr>
              <tr>
                <td>Strategic Value</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-strategic-value.png" width="361" height="871" alt="Strategic Value"></span></td>
              </tr>
              <tr>
                <td>Substantive Records</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-substantive-records.png" width="297" height="416" alt="Substantive Records"></span></td>
              </tr>
              <tr>
                <td>Tablets</td>
                <td></td>
              </tr>
              <tr>
                <td>Thesaurus</td>
                <td></td>
              </tr>
              <tr>
                <td>Time</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-time.png" width="444" height="718" alt="Time"></span></td>
              </tr>
              <tr>
                <td>Training</td>
                <td></td>
              </tr>
              <tr>
                <td>Transfer</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-transfer.png" width="473" height="245" alt="Transfer"></span></td>
              </tr>
              <tr>
                <td>Transfer (alternate)</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-transfer-2.png" width="473" height="376" alt="Transfer 2"></span></td>
              </tr>
              <tr>
                <td>Transitory record</td>
                <td></td>
              </tr>
              <tr>
                <td>UN/ARMS HQ/FF</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-un-hq.png" width="473" height="379" alt="Un Hq"></span></td>
              </tr>
              <tr>
                <td>UN/ARMS LIC</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-unarms-lic.png" width="299" height="415" alt="Unarms Lic"></span></td>
              </tr>
              <tr>
                  <td>Version</td>
                  <td></td>
              </tr>
              <tr>
                <td>Vital Record</td>
                <td><span class="bs-glyphicons"><img src="/static/images/icons-png24/icon-vital-record.png" width="400" height="534" alt="Vital Record"></span></td>
              </tr>
          </tbody>
      </table>
  
  
  
</div> {# /.col-lg-12 #}
{% endblock %}

{% block sidebar %}
{# <div class="col-lg-6"> #}
{#   <h3>In This Section</h3> #}
{#   <strong><a href="/about/index.html">About the Archives</a></strong> <br> #}
{#   <a href="/about/access.html">Access and Declassification</a> <br> #}
{#   <a href="/about/publicRef.html">Public Reference Services</a> <br> #}
{#   <a href="/about/secretariat.html">Secretariat Departments</a> <br> #}
{#   <a href="/about/predecessorOrg.html">Predecessor Organizations</a> <br> #}
{# </div> #}
{% endblock sidebar %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function(){
    $('#iconographytable').DataTable(
      // "pageLength": 50
      // "bLengthChange": true
      // "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
    );
});
</script>
{% endblock scripts %}