{% extends "base.html" %}

{% block body %}
<div class="col-lg-6">
	<h2>Reading Room</h2>
	The reading room is accessible by <b>appointment only</b>. When making the first contact with ARMS, preferably by e-mail, state the research topic succinctly. The archivist will assist you in locating possible records of interest, and in reserving a desk for you in our reference room. <b>As we are often booked weeks in advance, it is advisable to plan your visit with as much advance notice as possible.</b> You will only be able to access the archives on the days for which you have pre-registered.
	<h4>Who has access:</h4>
	<ul>
		<li>Secretariat staff, delegations to the United Nations, members of Permanent Missions and other internal users can consult the archives.</li>
		<li>External researchers (professors, historians, lawyers, university students and the general public) have access to the archival collections for the purpose of their professional work or research studies.</li>
		<li>If you have a physical or hearing disability, are visually handicapped or have special language needs, please contact us before your visit and we will discuss how we can assist with any special requirements.</li>
	</ul>
	<h4>Prior to your visit, you must:</h4>
	<ul>
		<li>contact the reference archivist to organize your research</li>
		<li>register by completing a registration form (provided when you contact the reference archivist)</li>
	</ul>
	<h4>What you need to bring: </h4>
	<ul>
		<li>You must present valid identification (passport, drivers license, government-issued ID card, school ID or other photo identification) to access the UN Archives reading room</li>
	</ul>
	<h4>What you can use:</h4>
	<ul>
		<li>The Reading Room has wifi available.</li>
		<li>You are welcome to bring your laptop, tablet, cell phone and/or camera to take photographs of documents.</li>
		<li>You are welcome to bring in pencils, pens, notebooks and loose-leaf paper.</li>
		<li>We have camera stands for your use, as well as a digital camera available on a first-come, first-served basis.</li>
	</ul>
	<h4>Care and Handling of Archives</h4>
	Please:
	<ul>
		<li>Handle all original items with care at all times</li>
		<li>Do not remove documents from bundles</li>
		<li>Do not disturb the order of papers within a folder or file (if documents appear to be out of order, please notify reading room staff)</li>
		<li>Ensure that your hands are clean and free from lotions that may stain and add to the deterioration of the records</li>
		<li>Do not place objects on the records</li>
		<li>Do not mark any record (do not trace, highlight or underline archival material)</li>
		<li>Turn folios carefully one at a time, ideally from the top right hand corner</li>
		<li>Ensure that volumes are fully supported at all times</li>
		<li>Do not lean on archival records when writing</li>
		<li>Do not use items such as ‘post-it’ notes, cardboard, pens, pencils or memo pads to mark places in archival records (paper flags are available)</li>
		<li>Report any damage such as loose or torn folios, so that they can be referred for preservation treatment.</li>
	</ul>
	<h4>Logistics</h4>
	<ul>
		<li>We are open Monday through Friday from 9.00 a.m. to 5.00 p.m. Please contact us for instructions on our location.</li>
		<li>We are closed on United Nations Headquarters official holidays. In 2016, these days are the following:</li>
	</ul>
	1 January New Year’s Day	<br> 4 July Independence Day	<br> 12 September Eid al-Adha <br>
	25 March Good Friday	<br>6 July Eid al-Fitrbr	<br>	24 November Thanksgiving Day <br>
	30 May Memorial Day	<br>5 September Labour Daybr	<br>	26 December Christmas Day (observed)



</div>
{% endblock %}