h3 a {display:block; padding:0.25em;}
h3.darkheadings a {color:#333; font-weight:bold;}
div.answer {margin-bottom:2em; border-left:5px solid #eee; padding-left:1em;}
div.answer p:first-child {margin-top:0; padding-top:1em;}
ul.showhideanswers {float:right; list-style-type:none; margin:0; font-size:0.9em;}
.selected a {color:#999; border:0;}
a.showall, a.hideall {cursor:pointer;}