{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="col-lg-6">
  	<h2>Acces and Declassification</h2>
  	<h4>Access Requests</h4>
	Records under 20 years old which are not security classified may occasionally be accessed on a case-by-case basis, subject to the written consent of the originating office.
	 
	<h4>Declassification Requests</h4>
	Declassification opens a classified record for research and reproduction. Records over 20 years old are generally open for public research, unless the classification level "Strictly Confidential" (or related) strictly applies. <br>
	Requests for both access and declassification have to be made in writing to the UN Archives at <a href="">arms[at]un.org</a>. As the process requires the consent of Secretariat departments, allow a period of time for a decision as to whether these records will be made available for access or declassified
	 
	<h4>UNWCC Archives</h4>
	All archives of the UN War Crimes Commission (UNWCC) are available on application to any person researching the history of the commission or related topics in international law or associated fields. To apply please send an email to <a href="">arms[at]un.org</a>. Alternatively, you can access these records at the <a href="">United States Holocaust Memorial Museum. </a> <br>
	For further information on declassification or access, please do not hesitate to contact the Archives.
	You may also consult the following information sheet, <a href="">United Nations Records - Access and Declassification </a>
	

  </div>
</div>
{% endblock %}
