{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="col-lg-6">
  	<h2>A-Z for Researchers</h2>
  	<h4>1. What are Archives?</h4>
  	The United Nations Archives and Record Management Section acquires, preserves, and makes available material created or received during UN business. <br>
	Archives serve as institutional memory. They provide evidence of the past and promote accountability and transparency of past actions. Archival record can be in any format including paper documents, photographs, maps, films, sound recordings, electronic records, documentary art, or an architectural drawings. <br> <br>
	ARMS ensure that historically significant records are made available for a variety of research uses, including teaching purposes, legal proceedings, building plans, publications, television and radio programs. Knowledge of the past creates a better future.
  </div>
</div>
{% endblock %}