{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="col-lg-6">
  	<h2>Citing UN Archives</h2>
  	Unless otherwise noted, there is no restriction on the publication of documents, images and/or quotations from archival material held at the United Nations Archives. This includes publication of thesis, articles, books, websites, films, etc.  <br><br>
 
	Precise citations are extremely important. They give credit to the authors of the work you have consulted, and provide a way for others to find the same sources that you have used. Incorrect or incomplete citations are seen by some institutions and publishers as plagiarism, so please don’t hesitate to contact us if you would like assistance or advice on citing your work. <br><br>
	 
	The style of citation depends on the preferences of your discipline, instructor, and/or publisher. Information that must be included in any citation of United Nations archival material is:

	<ul>
		<li>Repository: United Nations Archives (can be further abbreviated to UNA after the first mention)</li>
		<li>Reference number: typically, this will look like “S-0123-456-78”</li>
		<li>Title: can be the title of the document, the title of the folder, or the caption of the photo</li>
		<li>Date: the date (or date range) of the document</li>
		<li>(Optionally, you can include the title of the folder, series, and fonds to give more specific information.)</li>
	</ul>
	We do keep track of publications that use UN Archival material, and are happy to display a copy of your publication in our reading room. Please <a href="">contact us </a>for the mailing address. 

  </div>
</div>
{% endblock %}