{% extends "base.html" %}

{% block body %}
<div class="col-lg-6">
  	<h2>Getting Copies</h2>
  	Copies may be requested in person or by email. There are two options for getting copies:   <p>
  			1. Researchers are encouraged to bring a digital camera to the reading room to make their own copies of accessible materials. Digital cameras are permitted at the discretion of the archivist, subject to preservation and related considerations. 
  			We provide camera stands to hold a digital camera steady, or you may use your phone or tablet.  </p>
	 
	<p>2. Digital scans of archival records - subject to staff availablility; limited to 3-5 folders/photographs per person <br>
		<strong>Paper records:</strong> Typically made using a resolution of 300 ppi and 1-bit depth black & white mode and saved as a PDF file. Researchers may request digital scans by folder only. The turn-around time for orders varies depending on staff resources and the size of the order. Please consult the reference archivist for a time estimate. <br>
		<strong>Photographs:</strong> Typically made using a resolution of 300 to 600 ppi and a bit-depth of 8-bit for greyscale images and 24-bit for colour images. Files are saved as either JPEG or TIFF depending on the specifications of the request.</p>

</div>
{% endblock %}