{% extends "base.html" %}

{% block body %}
<div class="col-lg-6">
  	<h2>External Resources</h2>
  	<h4>United Nations Links </h4>
  	<ul>
  		<li><a href="">Archives of the League of Nations in Geneva</a></li>
  		<li><a href="">Department of Peacekeeping Operations Best Practices Documents Library</a></li>
  		<li><a href="">United Nations Dag Hammarksjold Library</a></li>
  		<li><a href="">United Nations Audio Library</a></li>
  		<li><a href="">United Nations Photo Library</a></li>
  		<li><a href="">United Nations Video Library</a></li>
  		<li><a href="">United Nations Treaty Collection</a></li>
  		<li><a href="">United Nations Audiovisual Library of International Law</a></li>
  		<li><a href="">UNESCO Archives</a></li>
  		<li><a href="">UNHCR Archives</a></li>
  		<li><a href="">UNICEF Archives</a></li>
  		<li><a href="">World Health Organization Archives</a></li>
  	</ul>
  	<h4>Links to Archives and Records Programmes of International Organisations</h4>
  	<ul>
  		<li><a href="">Code of Ethics for Archivists</a></li>
  		<li><a href="">Guide to Archives and Records of International Organisations</a></li>
  		<li><a href="">International Council on Archives</a></li>
  		<li><a href="">International Council on Archives, Section for Archivists of International Organisations</a></li>
  	</ul>


</div>
{% endblock %}