{% extends "base.html" %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li class="active">About</li>
{% endblock breadcrumbs %}

{% block body %}
<div class="col-lg-6">
  <h1>About The Archives</h1>
  <p>The Archives and Records Management Section (ARMS) identifies, preserves and provides access to those records that document the history of the United Nations. ARMS is responsible for all aspects of UN record-keeping, ranging from measures to ensure that United Nations officials create records in the course of their duties, through the management of records in United Nations offices, to preserving and making records of continuing value accessible as United Nations archives.
</p>
</div>
{% endblock %}

{% block sidebar %}
<div class="col-lg-6">
  <h3>In This Section</h3>
  <strong><a href="/about/index.html">About the Archives</a></strong> <br>
  <a href="/about/access.html">Access and Declassification</a> <br>
  <a href="/about/publicRef.html">Public Reference Services</a> <br>
  <a href="/about/secretariat.html">Secretariat Departments</a> <br>
  <a href="/about/predecessorOrg.html">Predecessor Organizations</a> <br>
</div>
{% endblock sidebar %}