{% extends "base.html" %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li class="active">Missions, Commissions and Related</li>
{% endblock breadcrumbs %}

{% block body %}
<div class="col-lg-6">
	<h2>Missions, Commissions and Related</h2>
	New finding aids are in <b>bold</b>:
	<ul>
		<li><a href="">Commission for the Investigation of Greek Frontier Incidents (1946-1951)</a></li>
		<li><a href="">United Nations Special Committee on Palestine - UNSCOP (1947)</a></li>
		<li><a href="">United Nations Palestine Commission - UNPAC (1948)</a></li>
		<li><a href="">United Nations Commission for India and Pakistan - UNCIP (1948-1950)</a></li>
		<li><a href="">Mediator for Palestine (1948-1950)</a></li>
		<li><a href="">United Nations Truce Supervision Organization - UNTSO (1948-present)</a></li>
		<li><a href="">United Nations Commissioner in Libya (1949-1952)</a></li>
		<li><a href="">United Nations Commission for Eritrea (1950)</a></li>
		<li><a href="">United Nations Korean Reconstruction Agency - UNKRA (1950-1958)</a></li>
		<li><a href="">Commission for the Unification and Rehabilitation of Korea - UNCURK (1951-1973)</a></li>
		<li><a href="">United Nations Emergency Force I - UNEF I (1956-1967)</a></li>
		<li><a href="">United Nations Observation Group in Lebanon - UNOGIL (1958)</a></li>
		<li><a href="">Special Representative in Amman - Spinelli Mission (1958-1967)</a></li>
		<li><a href="">United Nations Operations in the Congo - ONUC (1960-1964)</a></li>
		<li><a href="">United Nations Temporary Executive Authority in West Irian - UNTEA (1962-1963)</a></li>
		<li><a href="">United Nations Yemen Observation Mission - UNYOM (1963-1964)</a></li>
		<li><a href="">United Nations Peacekeeping Force in Cyprus - UNFICYP (1964-present)</a></li>
		<li><a href="">United Nations India-Pakistan Observation Mission - UNIPOM (1965-1966)</a></li>
		<li><a href="">United Nations Middle East Mission - UNMEM (1968-1973)</a></li>
		<li><a href="">United Nations East Pakistan Relief Operation - UNEPRO; United Nations Relief Operations in Dacca-Bangladesh (UNROD/UNROB) (1971-1973)</a></li>
		<li><a href="">United Nations Emergency Force II - UNEF II (1973-1979)</a></li>
		<b><li><a href="">United Nations Iran-Iraq Military Observer Group - UNIIMOG (1988-1991)</a></li></b>
		<li><a href="">United Nations Transition Assistance Group - UNTAG (1989-1990)</a></li>
		<li><a href="">United Nations Advance Mission in Cambodia - UNAMIC (1991-1992)</a></li>
		<li><a href="">United Nations Observer Mission in El Salvador - ONUSAL (1991-1995)</a></li>
		<li><a href="">United Nations Iraq-Kuwait Observation Mission - UNIKOM (1991-2003)</a></li>
		<li><a href="">International Conference on the Former Yugoslavia - ICFY (1992-1993)</a></li>
		<li><a href="">United Nations Transitional Authority in Cambodia - UNTAC (1992-1993)</a></li>
		<b><li><a href="">United Nations Observer Mission in South Africa - UNOMSA (1992-1994)</a></li></b>
		<li><a href="">United Nations Operation in Mozambique - ONUMOZ (1992-1994)</a></li>
		<li><a href="">United Nations Protection Force - UNPROFOR (1992-1995) and United Nations Peace Forces - UNPF (1995-1996)</a></li>
		<li><a href="">United Nations Assistance Mission for Rwanda - UNAMIR (1993-1996)</a></li>
		<li><a href="">United Nations Observer Mission in Liberia - UNOMIL (1993-1997)</a></li>
		<li><a href="">United Nations Political and Peacekeeping Missions in Haiti (1993-2001)</a></li>
		<li><a href="">United Nations Mission of Observers in Tajikistan - UNMOT (1994-2000) & United Nations Tajikistan Office of Peace Building - UNTOP (2000-2007)</a></li>
		<li><a href="">United Nations International Commission of Inquiry for Burundi - UNICIB (1995-1996)</a></li>
		<li><a href="">United Nations Preventive Deployment Force - UNPREDEP (1995-1999)</a></li>
		<li><a href="">United Nations Observer Mission in Angola - MONUA (1997-1999)</a></li>
		<li><a href="">United Nations Mission in Sierra Leone - UNAMSIL (1999-2005)</a></li>
		<li><a href="">United Nations Operation in Somalia II - UNOSOM II (2003-2005)</a></li>
	</ul>



</div>
{% endblock %}