{% extends "base.html" %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li class="active">Predecessor Organizations</li>
{% endblock breadcrumbs %}

{% block body %}
<div class="col-lg-6">
  	<h2>Predecessor Organizations</h2>
  	<ul>
  		<li><a href="">International Penal and Penitentiary Commission (1893-1958)</a></li>
  		<li><a href="">League of Nations (1919-1946)  (housed at the United Nations Office in Geneva Library)</a></li>
  		<li><a href="">United Nations Information Organization - UNIO (1940-1945)</a></li>
  		<li><a href="">United Nations Temporary London Office (1941-1947)</a></li>
  		<li><a href="">War Crimes Commission - UNWCC (1943-1948)</a></li>
  		<ul>
  			<li>
  				To view in New York, please request access via <a href="">Application Package</a> <br>
  			</li>
  			<li>
  				Also available in Washington, D.C. at the <a href="">United States Holocaust Memorial Museum</a> 
  			</li>
  		</ul>
  		<li><a href="">United Nations Relief and Rehabilitation Administration - UNRRA (1943-1948) [see below]</a></li>
  		<li><a href="">United Nations Conference on the International Organization - UNCIO (1944-1945)</a></li>
  		<li><a href="">Chinese National Relief and Rehabilitation Agency - CNRRA (1945-1947)</a></li>
  		<li><a href="">CNRRA photographs collection on Flickr</a></li>
  		<li><a href="">Preparatory Commission for United Nations (1945-1958)</a></li>
  		<li><a href="">International Paris Peace Conference (1946)</a></li>
  		<li><a href="">International Refugee Organisation - IRO (1947-1952)</a></li>
  		<ul>
  			
  				<li><a href="">IRO Archives (1936-1953)  held at Archives Nationales de France</a></li>
  			
  		</ul>
  	</ul>
	<strong>United Nations Relief and Rehabilitation Administration - UNRRA (1943-1948)</strong> <br>
	European Regional Office  
	<ul>
		<li><a href="">ERO Registry Files</a></li>
		<li><a href="">ERO Subject Files</a></li>
		<li><a href="">Trieste Port Office</a></li>
	</ul>
	Headquarters in Washington, DC 
	<ul>
		<li><a href="">Bureau of Administration</a></li>
		<li><a href="">Bureau of Areas</a></li>
		<li><a href="">Bureau of Services</a></li>
		<li><a href="">Bureau of Supply</a></li>
		<li><a href="">Controller and Public Information</a></li>
		<li><a href="">Office of the Historian</a></li>
		<li><a href="">Washington DC Headquarters</a></li>
	</ul>
	Photographs 
	<ul>
		<li><a href="">UNRRA photographs collection on Flickr</a></li>
	</ul>
	Country missions and offices: 
	<ul>
		<li><a href="">Austria Mission</a></li>
		<li><a href="">Balkan Mission & Middle East Office</a></li>
		<li><a href="">Belgium Mission</a></li>
		<li><a href="">Byelorussia Mission</a></li>
		<li><a href="">China Office</a></li>
		<li><a href="">Czechoslovakia Mission</a></li>
		<li><a href="">Denmark Mission</a></li>
		<li><a href="">Dodecanese Islands Mission</a></li>
		<li><a href="">Ethiopia Mission</a></li>
		<li><a href="">Finland Mission</a></li>
		<li><a href="">France Offices</a></li>
		<li><a href="">Germany Mission</a></li>
		<li><a href="">Greece Mission</a></li>
		<li><a href="">Hawaii Procurement Office</a></li>
		<li><a href="">Hungary Mission</a></li>
		<li><a href="">India Mission</a></li>
		<li><a href="">Italy Mission</a></li>
		<li><a href="">Korea Mission</a></li>
		<li><a href="">Latin America Procurement Offices</a></li>
		<li><a href="">Luxembourg Mission</a></li>
		<li><a href="">Norway Mission</a></li>
		<li><a href="">Philippines Mission</a></li>
		<li><a href="">Poland Mission</a></li>
		<li><a href="">South West Pacific Area Office</a></li>
		<li><a href="">Sweden Mission</a></li>
		<li><a href="">Switzerland Mission</a></li>
		<li><a href="">Turkey Mission</a></li>
		<li><a href="">Ukraine Mission</a></li>
		<li><a href="">Yugoslavia Mission</a></li>
	</ul>

</div>
{% endblock %}

{% block sidebar %}
<div class="col-lg-6">
  <h3>In This Section</h3>
  <a href="/about/index.html">About the Archives</a> <br>
  <a href="/about/access.html">Access and Declassification</a> <br>
  <a href="/about/publicRef.html">Public Reference Services</a> <br>
  <a href="/about/secretariat.html">Secretariat Departments</a> <br>
  <strong><a href="/about/predecessorOrg.html">Predecessor Organizations</a></strong> <br>
</div>
{% endblock sidebar %}