{% extends "base.html" %}

{% block body %}
<div class="col-lg-6">
  	<h2>Public Reference Services</h2>
  	<p>The United Nations Archives is committed to providing the best reference service to all of our researchers. Our research room staff will offer professional advice on aspects of your research that are relevant to United Nations archives.</p>
 
	<p>Our research room is open to the public during normal business hours. The majority of our holdings are open to the public, either in person in our reading room, or, for some records, online via our [search engine]. </p>
	 
	<strong>Reference Advice</strong> <br>
	<p>Our reference staff can help you in discussing research interests, locating sources within the UN system, arranging a visit to our reading room, citing and publishing our materials, and getting reproductions. </p>
	 
	<p>The Archives will provide information about sources relevant to your topic, but due to the number of requests we cannot undertake extensive research. The archivist will assist you in locating possible records of interest, and in reserving a desk for you in our reference room if necessary.</p>
	 
	ARMS receives enquiries by e-mail (preferred), mail and fax. If you do not receive an answer within five business days please resend your email as we may not have received it.

</div>
{% endblock %}