{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    <h1>Archives</h1>
    <a href="/archives/acces.html">Acces and Declassification</a> <br>
    <a href="/archives/publicRef.html">Public Reference Services</a> <br>
    <a href="/archives/secretariat.html">Secretariat Departments</a> <br>
    <a href="/archives/predecessorOrg.html">Predecessor Organizations</a> <br>
    <a href="/archives/guideline.html">Guideline</a>  <br>
    <a href="">Search the Archives Online</a> 

  </div>
</div>
{% endblock %}
