{% extends "base.html" %}

{% block body %}
  <div class="container">
    <div class="col-lg-6">
	<h2>Disposal Records</h2>
	<h4>Records Disposal</h4>
	Whether records are in the custody of the originating office and/or in the custody of ARMS, most records are eventually destroyed. Some records are destroyed after two years, while others, such as personnel or medical records are retained for a much longer period because of their historical or informational value. ARMS describes and catalogues these records and the information is then used to provide guides for future researchers. <br> <br>
	All United Nations records, whether paper or electronic, must be disposed in accordance with approved retention schedules. While records should not be destroyed when there is still a need for them, it is also important not to keep records longer than is necessary, to minimise storage costs and enhance retrieval efficiency. If a decision is made to retain records longer than the minimum retention period a record of the reasons for the decision should be documented to assist disposal at a later date.
	<h4>Disposal of paper in UN offices</h4>
	Records with retention less than two years must be disposed in-situ. If an office has an approved retention schedule and the records retention period has expired, the staff designated to dispose of the records must: <br><br>

	Provide basic documentation of the records to be destroyed. A high level description of the records series to be destroyed with the date range (e.g. travel arrangements files, 2012-2014) is sufficient to document the destruction of the records for transparency and accountability. Records destruction logs must be filed along with other records management files, such as the list of records that have been transferred to ARMS for storage, etc. <br><br>
	Based on the high level description of the records eligible for disposal, Managers will authorise the disposal. No authorisation from ARMS is required. <br><br>
	To physically dispose the records, offices at Headquarters should request secure records disposal bins through a work order, through iNeed. Depending on the Department and the nature of the records, sensitive records may also be shredded ‘in-situ’. <br><br>
	Records should always be disposed of with the same level of security that was applied during their lifetime. Please note that extra care should be given to records containing sensitive personal information. Please refer to ST/SGB/2007/6 for further information.
	<br><br>
	United Nations offices are encouraged to conduct an annual clean-up of their records, preferably in January of each year, as calendar year is the most frequent retention trigger. 
	<h4>Disposal of paper records by ARMS</h4>
	For records that have been transferred to ARMS repositories, two levels of authorization are required for the destruction of the records. <br><br>

	ARMS will follow the approved retention schedule and send a list of records due for disposal to a Senior Official from the office which owns the records, for approval. <br><br>
	Once the approval is received from the originating office, the Chief of ARMS will give final authorization for the destruction. ARMS does not dispose of records without the consent of the relevant office.
	
	<h4>Disposal of Electronic records</h4>
	All Electronic records may only be deleted or destroyed in accordance with approved retention schedules . If your office does not have a retention schedule, please contact ARMS for guidance. <br><br>

	<strong>Enterprises systems and networks</strong> <br>
	In record-keeping systems such as Unitedocs, all records are assigned to retention schedules at the point of creation. When the records retention expired system, administrators effect the destruction of the records; this task is not performed by individual users. <br> <br>

	On United Nations shared drives, offices are responsible for deleting their working files and other non-records material on a regular basis. ARMS Guidelines on managing records on shared drive recommends that office do not retain non-record material beyond two years.  If the office uses the share drive in lieu of a record-keeping system, the disposal of the records must be in keeping with approved  retention schedules. The Office of Information and Communication Technology (OICT) is responsible for the sanitization of shared drives when required by the office. <br><br>

	<strong>Stand-alone devices</strong> <br>
	To permanently delete electronic records stored on external media such as key drives or external hard drives, etc. it is not sufficient to delete the records because data can easily be recovered. It is particularly important to use the appropriate sanitization techniques to ensure that sensitive content is appropriately removed from the device. Please refer to OICT media sanitization guidelines for guidance.


    </div>
  </div>

{% endblock %}