{% extends "base.html" %}

{% block body %}
    <div class="col-lg-6">
    	<h3>Frequently Asked Questionss!!!!!</h3>

		<div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even"><p>&nbsp;</p>
<p>This FAQ is designed to provide a better understanding of ARMS activities, our services and our technical tools and resources. They provide basic information, sometimes about fairly complex topics. This FAQ will often link to more detailed information.</p>
<p>&nbsp;</p>
<ol>
<li><strong><a href="#id3">What are archives?</a></strong></li>
<p></p>
<li><strong><a href="#id15">What is required to conduct research in the UN Archives?</a></strong></li>
<p></p>
<li><strong><a href="#id16">Are the researchers permitted to use their own digital cameras?</a></strong></li>
<p></p>
<li><strong><a href="#id3">What are archives?</a></strong></li>
<p></p>
<li><strong><a href="#id1">Where do I get the forms I need when I want to transfer records to or request records from ARMS?</a></strong></li>
<p></p>
<li><strong><a href="#id2">Why do I need to know about records?</a></strong></li>
<p></p>
<li><strong><a href="#id4">How does the current UN reform affect ARMS?</a></strong></li>
<p></p>
<li><strong><a href="#id5">Should I be concerned about sending confidential records to ARMS?</a></strong></li>
<p></p>
<li><strong><a href="#id6">Can I get access to current UN records that are not yet in the archives?</a></strong></li>
<p></p>
<li><strong><a href="#id7">What laws apply to the United Nations in relation to records retention?</a></strong></li>
<p></p>
<li><strong><a href="#id8">Do records retention schedules only apply to paper records?</a></strong></li>
<p></p>
<li><strong><a href="#id9">What is ARMS doing to preserve electronic records?</a></strong></li>
<p></p>
<li><strong><a href="#id10">What is the size and scope of ARMS' operation?</a></strong></li>
<p></p>
<li><strong><a href="#id11">Where can I learn more or get training in managing UN records?</a></strong></li>
<p></p>
<li><strong><a href="#id12">What are the most important things I need to remember about records?</a></strong></li>
<p></p>
<li><strong><a href="#id13">How can records management help me find information more easily?</a></strong></li>
<p></p>
<li><strong><a href="#id14">What should I do about e-mail? I delete it because I have no place easy to store it but I am afraid I will need it to answer to auditors or others some day.</a></strong></li>
<p></p>
<li><strong><a href="#id15">What is required to conduct research in the UN Archives?</a></strong></li>
<p></p>
<li><strong><a href="#id16">Are the researchers permitted to use their own digital cameras?</a></strong></li>
<p></p>
<li><strong><a href="#id17">How do I apply for access to records of the United Nations War Crime Commission?</a></strong></li>
<p></p>
<li><strong><a href="#id18">How long should I keep or maintain my current files in my office and how often should I retire file to ARMS?</a></strong><strong><a href="#id19">When do I need to transfer records to ARMS?</a></strong></li>
<p></p>
<li><strong><a href="#id20">How do I transfer files from my office to ARMS?</a></strong><strong><a href="#id21">Can I retrieve files once they are transferred to ARMS?</a></strong></li>
<p></p>
<li><a href="#id22"><strong>What is records disposition?</strong></a></li>
<p></p>
<li><a href="#id23"><strong>Are emails records?</strong></a></li>
<p></p>
<li><a href="#id24"><strong>Do I need to obtain permission to post some UN photographs on my web site. If so, what is the procedure?</strong></a></li>
</ol>
<p>&nbsp;</p>
<p>&nbsp;</p>
<hr>
<p>&nbsp;</p>
<p><strong><a name="id3"></a>What are archives?</strong><br>
Traditionally the term has been used to describe records no longer required for current use which have been selected for permanent preservation. It can also refer the place (building/room/storage area) where archival material is kept. Finally it can mean an organisation (or part of an organisation) responsible for appraising, acquiring, preserving and making available archival material.</p>
<p>&nbsp;</p>
<p><strong><a name="id15"></a>What is required to conduct research in the UN Archives?</strong><br>
Before visiting the UN Archives you will need to complete an application form and make an appointment. The form can be mailed, emailed or faxed to you upon request, or it can be downloaded from our web site.</p>
<p>&nbsp;</p>
<p><strong><a name="id16"></a>Are the researchers permitted to use their own digital cameras?</strong><br>
Yes. Researchers are permitted to use digital cameras in order to make digital images of the records.</p>
<p>&nbsp;</p>
<p><strong><a name="id2"></a>Why do I need to know about records?</strong><br>
This term refers to actions taken with regard to records when they are no longer active. The actions include transfer to a records centre for temporary semi-active storage, transfer of inactive records with archival value to the University Archives for permanent preservation, donation to an eligible repository, reproduction on microform, and destruction.</p>
<p>&nbsp;</p>
<p><strong><a name="id1"></a>Where do I get the forms I need when I want to transfer records to or request records from ARMS? </strong></p>
<p>Records transfer requests are done through the record transfer request form available on the UN Intranet (iSeek). Records retrieval requests are done using the <a href="http://archives.un.org/sites/archives.un.org/files/files/Forms/RMS_51_RecordsRequestForm.doc">Record Management Service (RMS.51).</a></p>
<p>&nbsp;</p>
<p><strong><a name="id2"></a>Why do I need to know about records?</strong><br>
As a staff member of the United Nations, it is important to remember that all the information you collect or create in the conduct of business, irrespective of its format, is the property of the United Nations. Information related to business transactions constitutes official records of the UN and therefore needs to be managed effectively and efficiently to support accountability and transparency.</p>
<p>In order to make you fully aware of your roles and responsibilities with regard to recordkeeping ARMS has prepared the Staff reminder of the<a href="http://archives.un.org/sites/archives.un.org/files/files/STGB/ST_SGB_2007_5_eng.pdf"> rules and responsibilities for managing and disposing of Secretariat documents and records</a>.</p>
<p>&nbsp;</p>
<p><strong><a name="id4"></a>How does the current UN reform 'Change Plan' affects ARMS?</strong><br>
ARMS will play a pivotal role in the reform efforts, especially in improving transparency and accountability through strengthened administrative practices in the management of UN programmes and assets. Underpinning the reform objectives is the requirement to create and manage electronic and paper business records to meet transparency and accountability requirements, in other words, to ensure that the business of the United Nations is properly documented and that the resulting records are managed efficiently and effectively and remain accessible for as long as they are needed.</p>
<p>ARMS develops Secretariat-wide policy and provides support and practical guidance for good and accountable recordkeeping through a range of advisory services and resources. This website will help staff become familiar with rules and responsibilities for recordkeeping and to learn how ARMS can assist in improving recordkeeping practices.</p>
<p>&nbsp;</p>
<p><img alt="" src="http://archives.un.org/sites/archives.un.org/files/images/Banners/HQ.jpg" style="float:left; height:219px; margin-right:30px; width:282px" class="hoverZoomLink"> <strong><a name="id5"></a>Should I be concerned about sending confidential records to ARMS?</strong></p>
<p>ARMS employs measures to safeguard all information for which it is responsible. We employ internal controls to monitor and track movement and use of all records that are in our custody. Our facilities have good physical security infrastructure and are monitored 24/7. And, most importantly, each staff member is aware of the special trust he or she is given; we have all been trained in and adhere to a code of ethics for archivists that reminds us of our professional responsibilities and leads to confidence in our operations.</p>
<p>&nbsp;</p>
<p><strong><a name="id6"></a>Can I get access to current UN records that are not yet in the archives?</strong><br>
It is possible to make an access request. In general, unclassified records are available when they are 20 years old. However, records which are less than 20 years old and not classified can be made available if the originating office gives written consent for access. You will need to send us a request via email for submission to the originating office for a decision. If granted, access allows requesters to view and take notes from approved records, but not to receive copies of the records.</p>
<p>ARMS provides only a secretariat role only in this process. Submitting a request for access does not guarantee that access will be granted. This is a decision that is made by the office of origin and/or other interested United Nations offices.</p>
<p>&nbsp;</p>
<p><strong><a name="id7"></a>What laws apply to the United Nations in relation to records retention?</strong><br>
As an international organization the United Nations is not subject to national records retention laws. However, the UN adheres closely to international best practice in records retention, and memoranda of understanding between UN and its member states play a key role in the formulation of retention requirements.</p>
<p>&nbsp;</p>
<p><strong><a name="id8"></a>Do records retention schedules only apply to paper records?</strong><br>
No. A records retention schedule may be applicable to either paper, electronic records or in any other format. If a record is maintained in both paper and electronic form, the creating office, in consultation with ARMS, should decide which one will serve as the official copy of the record and thus be subject to records retention requirements. The other, non-official copy simply may be destroyed whenever it loses its reference value. Note, however, that a record in electronic form may not serve as the official copy if it is not maintained in a viable recordkeeping system, as determined by ARMS.</p>
<p>&nbsp;</p>
<p><strong><a name="id9"></a>What is ARMS doing to preserve electronic records?</strong><br>
The United Nations recognizes the need to finds ways to preserve and keep accessible and authentic the millions of electronic records being created. ARMS is participating in Secretariat-wide efforts to develop digital preservation capability and to develop a policy and governance framework for their management. You can read more about managing electronic records and the enterprise content management project on this website.</p>
<p>&nbsp;</p>
<p><strong><a name="id10"></a>What is the size and scope of ARMS' operation?</strong><br>
ARMS' primary responsibilities include developing policy and guidelines for the maintenance and retention of Secretariat records including electronic media; improving recordkeeping in the United Nations; promoting and supporting research use of UN archives consistent with security and authorized access; and participating in strategic information planning organization-wide. ARMS's mandate extends to all duty stations and to organs created by the Security Council, including peacekeeping missions, the Tribunals for the Former Yugsolavia and Rwanda, and the Compensation Commission.</p>
<p>In the regular budget ARMS has 5 professional posts and 14 general service posts; extrabudgetary funding provides 2 professional to support ARMS's work in peacekeeping missions.</p>
<p>&nbsp;</p>
<p><strong><a name="id11"></a>Where can I learn more or get training in managing UN records?</strong><br>
This website and the ARMS intranet page contain learning tools and other resources. You can always ask us a question: <a href="mailto:arms@un.org">arms@un.org</a>.</p>
<p>
ARMS will also undertake records management training workshop on request.</p>
<p><strong><a name="id12"></a>What are the most important things I need to remember about records?</strong><br>
UN staff members need to understand their responsibilities for United Nations business records and need to remember that records, like all assets, are the property of the Organisation. At the same time, staff needs to be able to identify and manage separately personal records that they create and receive in the workplace. Managing records in keeping with requirements and practice in each office is the responsibility of every staff member.</p>
<p>You need to list the most important groups of records and documents required to fulfill your function. You should be familiar with how these key records are protected, who has access to them and how long they need to be kept. What are you and your team members specific responsibilities? If you are not certain of the answers you should discuss with your team and possibly attend the standard ARMS training. You may also request an advisory meeting be arranged for your team.</p>
<p>&nbsp;</p>
<p><strong><a name="id13"></a>How can records management help me find information more easily?</strong><br>
Records management tools can facilitate more efficient retrieval of information. File plans organise and categorise records to make information easier to find, and records retention schedules assist with easier information retrieval by disposing of records that are no longer required and retaining only those records that need to be kept for business and operational purposes.</p>
<p>&nbsp;</p>
<p><strong><a name="id14"></a>What should I do about e-mail? I delete it because I have no place easy to store it but I am afraid I will need it to answer to auditors or others some day.</strong><br>
This is an important concern which must be addressed for the whole department or division. The Policy issues are being broadly discussed. There are some solutions available now that the ARMS staff can discuss with your Division. It may require additional tools and training for your office. However it is reasonable to request the support you require to perform your functions in a responsible manner.</p>
<p>&nbsp;</p>
<div><img alt="" src="http://archives.un.org/sites/archives.un.org/files/images/Banners/Niemeyer.jpg" style="height:246px; width:300px"></div>
<p><strong><a name="id17"></a>How do I apply for access to records of the United Nations War Crime Commission?</strong><br>
A completed application, under cover of a standard form letter, needs to be sent to the Secretary-General through your Member State's Permanent Representative or Permanent Observer to the United Nations. You can download the <a href="http://archives.un.org/sites/archives.un.org/files/files/Tools/UNWCC%20application%20package.zip">application package <img alt="" src="http://archives.un.org/sites/archives.un.org/files/images/Icons%20for%20docs/WinZip_icon.png" style="height:20px; width:20px"></a>, which includes a form, file list, sample note-verbale and access regulations here.</p>
<p>&nbsp;</p>
<p><strong><a name="id18"></a>How long should I keep or maintain my current files in my office and how often should I transfer files to ARMS?</strong><br>
Ideally, transferring records from your office to ARMS is a regular activity of your records management programme, and guidance on this question would be formalized in a retention schedule. Staff should consult retentions schedules on ARMS web-site, especially the Records Common to All United Nations Offices (RCUN). Do remember that not all records need to be transferred. You are authorized to dispose of transitory, temporary, and non-record material in your office. Consult RCUN; consult the guidelines on secure disposal or more details, ARMS staff is available to provide additional guidance in this area.</p>
<p>&nbsp;</p>
<p><strong><a name="id19"></a>When do I need to transfer records to ARMS?</strong><br>
There are no hard and fast rules concerning the scheduling of retiring of records, but a decision to transfer inactive records should be based on business requirements, logistical needs and scheduling considerations. This exercise should be done at regular intervals rather than during a critical period such as relocations, moves or reorganization. This would ensure an accurate transfer of records to the records facility. In this regard, there are a number of criteria as to when to transfer files. This criteria includes: level of record activity, status of the file (active/completed), volume of records vs space availability and record scheduling (ie closing records at the end of each business cycle). For more details, ARMS staff is available to provide additional guidance in this area.</p>
<p>&nbsp;</p>
<p><strong><a name="id20"></a>How do I transfer files from my office to ARMS?</strong><br>
If you are based at Headquarters and you need boxes, ARMS will supply once you have completed the first step of the records transfer process using the electronic form application on iSeek. You can consult this page prior to undertaking the transfer. If you are based&nbsp; in Peacekeeping Operations, it is especially important to follow the instructions in section 16 of the Recordkeeping Toolkit for Peacekeeping Operations.</p>
<p>&nbsp;</p>
<p><strong><a name="id21"></a>Can I retrieve files once they are transferred to ARMS?</strong><br>
Yes. Within access regulations, records that have been transferred to ARMS as non-current records or as archives can be consulted at ARMS during regular business. Archival records do no circulate because of their high value to the Organisation. However, non-current records can be returned to the originating office when needed for current business. You request files on form <a href="http://archives.un.org/sites/archives.un.org/files/files/Forms/RMS_51_RecordsRequestForm.doc">RMS.51&nbsp;<img alt="" src="http://archives.un.org/sites/archives.un.org/files/images/Icons%20for%20docs/Word_icon.jpg" style="height:20px; width:20px"></a>, ARMS offers a 48-hour service standard for retrieving files.</p>
<p>&nbsp;</p>
<p><strong><a name="id22"></a>What is records disposition?</strong><br>
This term refers to actions taken with regard to records when they are no longer active. The actions include transfer to a records centre for temporary semi-active storage, transfer of inactive records with archival value to the University Archives for permanent preservation, donation to an eligible repository, reproduction on microform, and destruction.</p>
<p>&nbsp;</p>
<p><strong><a name="id23"></a>Are emails records?</strong><br>
Email communications can be records when they are messages created, sent or received within an email system that are required by the Organization to control, support, or document the delivery of programs, to carry out operations, to make decisions, or to account for activities.<br>
Some email records are transitory and required only for a limited time to ensure the completion of a routine action or the preparation of a subsequent record; some email drafts are considered transitory. You can read more about this on this web site.</p>
<p>&nbsp;</p>
<p><strong><a name="id24"></a>Do I need to obtain permission to post some UN photographs on my web site. If so, what is the procedure? </strong><br>
ARMS does not have copyright for all photographs in its holdings. We advise you to consult with the Reference Archivist find out whether the UN own specific photographs. If the UN owns the photographs, you are permitted to place the UN photographs on the web site on condition that you acknowledge the United Nations Archives as the source. See the <a href="/sites/archives.un.org/files/files/Use%20of%20UN%20Archives/Citing%20and%20Publishing%202012.pdf">following document <img alt="" src="/sites/archives.un.org/files/images/pdf_file_icon_16x16.gif" style="height:16px; width:16px"></a>&nbsp;for more details.</p>
<p>&nbsp;</p>
</div></div></div>


    </div>

{% endblock %}
{% block sidebar %}
<div class="col-md-6">
  {# <h3>On This Page</h3> #}
  <ul class="list-unstyled">
        <h3 id="thisPage">On this page</h3>
        
        
        <li>
          <a href="#items">FAQ For the public</a>
        </li>
        <li>
          <a href="#additional">FAQ For UN Staff</a>
        </li>
  </ul>
</div>
  
{% endblock sidebar %}