{% extends "base.html" %}

{% block body %}
  <div class="container">
    <div class="col-lg-6">

	<h2>File Classification Schemes</h2>
	 <p>Developing a File Classification Scheme is the process of identifying the category or categories of business activities and the records they generate and grouping them, if applicable, into files to facilitate retrieval, description, control, links and determine their disposition and access status.</p>  
 
	 <strong>Records are grouped together</strong> for the following reasons:
	   <ul>
	   	<li>to keep documents of a similar theme together</li>
	   	<li>to make it easier to find the information we are looking for</li>
	   	<li>to provide a context for individual documents and records</li>
	   	<li>to identify the ownership or management responsibility for a group of records</li>
	   </ul>
 
     <p>The first level of a file classifcation scheme is usually the high-level business functions of an office or an organisation, next comes activities that are carried out in the context of the high level functions, finally at the third level we can find the transactions or the types of records (record series) that are generated as part of the activities.  Here are some examples:</p> 
     <ul>
     	<li><a href="">UN Peacekeeping Operations File Classification Scheme</a></li>
     	<li><a href="">Department of Safety and Security File Classification Scheme</a></li>
     	<li><a href="">File Classification Scheme for Administrative Functions Common to all UN Offices</a></li>
     </ul>
     


    </div>



  </div>
{% endblock %}