{% extends "base.html" %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li class="active">Forms</li>
{% endblock breadcrumbs %}

{% block body %}
  <div class="container">
    <div class="col-lg-6">
    	<h2>ARMS Forms</h2>
   		<ul>

   			<li><a href="">Request to transfer records to ARMS </a>(available via iSeek, the UN Intranet: Tools > ARMS transfer eForm. Use Webmail login and password.)</li> <br>
   			<li><a href="">Records retrieval request (RMS.51)</a></li> <br>
   			<li><a href="">Delegation of Authority</a></li>
   		</ul>

    </div>



  </div>
{% endblock %}