{% extends "base.html" %}

{% block body %}
  <div class="container">
    <div class="col-lg-6">
    	<h2>Records Management Guidance</h2>
    	The Archives and Records Management Section has created a series of quick reference guides (a basic overview of records management practices) and a records management guidance series (a more in-depth look for staff members who use records management in their daily work). Please refer to them if you have questions about your day-to-day records management activities. If you have any further questions, please <a href="">contact us.</a> <br>
    	<strong>Quick Reference sheets:</strong>
    	<ul>
    		<li><a href="">What is Records Management?</a></li>
    		<li><a href="">Managing Records Day to Day</a></li>
    		<li><a href="">Declaring a Record</a></li>
    		<li><a href="">Information Sensitivity</a></li>
    	</ul>
    	<strong>Records Management Guidance series
		</strong>
		<ul>
			<li><a href="">What is a record?</a></li>
			<li><a href="">How do I know which records are valuable?</a></li>
			<li><a href="">How do I know which records are vital?</a></li>
			<li><a href="">How long do I keep records?</a></li>
			<li><a href="">When and how can I destroy records?</a></li>
			<li><a href="">How do I protect sensitive information?</a></li>
			<li><a href="">How do I ensure records are secure?</a></li>
			<li><a href="">How do I protect records from loss or damage?</a></li>
			<li><a href="">How do I protect records in an emergency?</a></li>
			<li><a href="">How do I assess the quality of my office's records systems?</a></li>
			<li><a href="">Managing Electronic Information and Records in Shared Drives</a></li>
		</ul>
    </div>
</div>
{% endblock %}