
{% extends "base.html" %}

{% block body %}
  <div class="container">
    <div class="col-lg-6">
      <h1>UN ARMS <small>United Nations Archives and Records Management Section</small></h1
      <p><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-lg-6">
      <img class="pull-right" src="/static/images/nesh.jpg" width="400">
    </div>
  </div>


<div class="container">
  <!-- Example row of columns -->
  <div class="row">

    <div class="col-lg-4">

      <h2>For the Public</h2>

      <img src="/static/images/pic.png">

      <p><a href="/search.html"><strong>Search</strong> the UN Archives online</a></p>
      <p><a href="/calendar.html"><strong>Book</strong> time in the UN Archives Reading Room</a></p>
      <p><acronym title="Frequently Asked Questions">FAQ for the Public</acronym></p>
    </div>

    <div class="col-lg-4">
      <h2>For UN Staff</h2>
      <p><a href="/staffInformation.html">Learn what ARMS can do for <strong>your section</strong></a></p>
      <p><a href="/manageRecords.html">How to<strong> manage records</strong></a></p>
      <p><acronym title="Frequently Asked Questions">FAQ for UN Staff</acronym></p>
    </div>
    
    <div class="col-lg-4">
      <h2>Etc...</h2>
      <p>Add etcetera links here.</p>
    </div>

  </div>
</div>
{% endblock %}
