{% extends "base.html" %}

{% block body %}
  <div class="container">
    <div class="col-lg-6">
		<h2>Organize Records</h2>
		   Records are transferred to archives from a variety of departments, offices and missions. All records from a particular Department or Office may not enter the archives at the same time, but instead, transfers can occur over a period of time, even years. <br><br>
			After transfer, the records are processed for use by the public. This processing involves an appraisal of the records to determine those that have enduring value, followed by the physical arrangement and listing of files in the group. These groups of records (known asSeries and Fonds) are described so as to provide users information about what it contained within them. <br><br>
			ARMS arranges and describes records according to both traditional archival methodology and the specific needs of the Organisation. While there are some exceptions, archives are generally organised by the creator (typically by department, such as the Department of Economic and Social Affairs, or position and person, such as Secretary-General Kofi Annan). These are called fonds. Every record falls under the fonds of the department or person who created it. You can see a list of all of our fonds [here].  These are further broken down into series, which are based on a common function, such as correspondence, meeting minutes, human resources, conferences, or project files. 

    </div>
  </div>
{% endblock %}