{% extends "base.html" %}

{% block body %}
  <div class="container">
    <div class="col-lg-6">
    	<h2>Policies and Tools</h2>
    	<h4>UN Policies for Archives and Records Management</h4>

    	<ul>
    		<li><a href="">ST/SGB/2007/5 - Record-keeping and the Management of United Nations Archives</a></li>
    		<li><a href="">ST/SGB/2007/6 - Information Sensitivity, Classification and Handling</a></li>
    		<li><a href="">ST/SGB/2004/15 - Use of Information and Communication Technology Resources and Data</a></li>
    		<li><a href="">UN Records Retention Policies</a></li>
    	</ul>
    	<h4> UN and International Standards used for Archives
  		and Records Management</h4>
  		<strong>Archives Standards</strong> <br>
 
		ARMS complies with the following <a href="">International Council on Archives</a> standards
		<ul>
			<li>ISDIAH, International Standard for Describing Institutions with Archival Holdings, Committee of Best Practices and Standards, First edition, 2008.</li>
			<li>ISAD(G): General International Standard Archival Description, Committee on Descriptive Standards, Second Edition, 2000.</li>
		</ul>
		<strong>Records Management Standards</strong> <br>
		<ul>
			<li><a href="">ARMS Functional Requirements for Record-keeping Systems</a></li>
			<li><a href="">ARMS Standard on Record-keeping Metadata</a></li>
			<li><a href="">ARMS Standard on Record-keeping Requirements for Digitization</a></li>
			<li><a href="">ISO standard 15489  Information and documentation -- Records management -- Part 1: General</a></li>
			<li><a href="">ISO standard 16175 - Principles and Functional Requirements for Records in Electronic Office Environments</a></li>
			<li><a href="">ISO standard 13028 - Implentation Guidelines for Digitization of Records</a></li>
		</ul>
		<h4>Archives and Records Management Section Guidelines</h4>
		<ul>
			<li><a href="">File Classification Scheme for Administrative Functions Common to all UN Offices</a></li>
			<li><a href="">Guideline on Retention Schedule Implementation</a></li>
			<li><a href="">Guideline for Identifying and Managing Personal Records</a></li>
			<li><a href="">Guideline on Managing Emails as Records</a></li>
			<li><a href="">Guideline on Records Management Programme Evaluation</a></li>
			<li><a href="">Guideline on Records Destruction</a></li>
			<li><a href="">Guideline for Preventing and Treating Insect Infestation in Records and Archives Centres</a></li>
		</ul>
 
    </div>



  </div>
{% endblock %}