{% extends "base.html" %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li class="active">Retention Schedules</li>
{% endblock breadcrumbs %}

{% block body %}
  <div class="container">
    <div class="col-lg-6">
      <h2>Retention Schedules</h2>
      
      <p><strong>General Schedules</strong></p>
      <ul>
      <li><a href="https://archives.un.org/sites/archives.un.org/files/uploads/RCUN%20-%20Records%20Common%20to%20All%20UN%20Offices.pdf" target="_blank">RCUN - Records Common to Most United Nations Offices</a></li>
      <li><a href="/sites/archives.un.org/files/uploads/Retention%20Schedule%20for%20ICT%20Records%20UN%20Secretariat%20ICT%20TP%20-%2008Oct2014.pdf">United Nations Secretariat ICT</a></li>
      </ul>
      <p><strong>Advisory Committee on Administrative and Budgetary Questions</strong></p>
      <ul>
      <li><a href="https://archives.un.org/sites/archives.un.org/files/uploads/ACABQ%20-%20Advisory%20Committee%20on%20Administrative%20and%20Budgetary%20Questions.pdf" target="_blank">ACABQ - Secretariat of the Advisory Committee on Administrative and Budgetary Questions</a></li>
      </ul>
      <p><strong>Board of Auditors</strong></p>
      <ul>
      <li><a href="https://archives.un.org/sites/archives.un.org/files/uploads/UNBA%20-%20Board%20of%20Auditors.pdf" target="_blank">UNBA - Secretariat of the UN Board of Auditors</a></li>
      </ul>
      <p><strong>Capital Master Plan</strong></p>
      <ul>
      <li><a href="/sites/archives.un.org/files/uploads/CMP%20-%20Capital%20Master%20Plan.pdf" target="_blank">CMP - Capital Master Plan</a></li>
      </ul>
      <p><strong>Department of Economic and Social Affairs</strong></p>
      <ul>
      <li><a href="https://archives.un.org/sites/archives.un.org/files/uploads/DESA%20-%20Department%20of%20Economic%20and%20Social%20Affairs.pdf" target="_blank">DESA - Department of Economic and Social Affairs</a></li>
      </ul>
      <p><strong>Department of General Assembly and Conference Management</strong></p>
      <ul>
      <li><a href="https://archives.un.org/sites/archives.un.org/files/uploads/CTU%20-%20Contractual%20Translation%20Unit.pdf" target="_blank">CTU - Contractual Translation Unit</a></li>
      </ul>
      <p><strong>Department of Management</strong></p>
      <ul>
      <li><em>Office of Central Support Services</em>
      <ul>
      <li>Facilities and Commercial Services Division
      <ul>
      <li><a href="https://archives.un.org/sites/archives.un.org/files/uploads/CAS%20-%20Commercial%20Activities%20Service.pdf" target="_blank">CAS - Commercial Activities Service</a>
      <ul>
      <li><a href="https://archives.un.org/sites/archives.un.org/files/uploads/ARMS%20-%20Archives%20and%20Records%20Management%20Section.pdf" target="_blank">ARMS - Archives and Records Management Section</a></li>
      </ul>
      </li>
      <li><a href="https://archives.un.org/sites/archives.un.org/files/uploads/FMS%20-%20Facilities%20Management%20Service.pdf" target="_blank">FMS - Facilities Management Service</a>
      <ul>
      <li><a href="https://archives.un.org/sites/archives.un.org/files/uploads/GAR%20-%20Garage%20Administration.pdf" target="_blank">GAR&nbsp;- Garage Administration</a></li>
      </ul>
      </li>
      </ul>
      </li>
      <li>Procurement Division
      <ul>
      <li><a href="https://archives.un.org/sites/archives.un.org/files/uploads/PROC%20-%20Procurement%20Service.pdf" target="_blank">PROC - Procurement Service</a></li>
      </ul>
      </li>
      </ul>
      </li>
      <li><em>Office of Human Resources Management</em><em>​</em>
      <ul>
      <li><a href="/sites/archives.un.org/files/uploads/OHRM%20-%20Office%20of%20Human%20Resource%20Management.pdf" target="_blank">OHRM - Office of Human Resources Management</a></li>
      </ul>
      </li>
      <li><em>Office of Programme Planning, Budget and Accounts</em>
      <ul>
      <li><a href="https://archives.un.org/sites/archives.un.org/files/uploads/OPPBA.ACCT%20-%20Accounts%20Office.pdf" target="_blank">ACCT - Accounts Division</a></li>
      <li><a href="https://archives.un.org/sites/archives.un.org/files/uploads/OPPBA.CONT%20-%20Controllers%20Office.pdf" target="_blank">CONT - Controllers Office</a></li>
      <li><a href="https://archives.un.org/sites/archives.un.org/files/uploads/OPPBA.FIN%20-%20Finance.pdf" target="_blank">FIN - Peacekeeping Finance Division</a></li>
      <li><a href="https://archives.un.org/sites/archives.un.org/files/uploads/OPPBA.PPBD%20-%20Programme%20Planning%20and%20Budget.pdf" target="_blank">PPBD - Program Planning and Budget Division</a></li>
      <li><a href="https://archives.un.org/sites/archives.un.org/files/uploads/OPPBA.TREA%20-%20Treasury.pdf" target="_blank">TREA - Treasury</a></li>
      </ul>
      </li>
      <li><em>Office of the Under-Secretary-General for Management</em>
      <ul>
      <li><a href="https://archives.un.org/sites/archives.un.org/files/uploads/CCPS%20-%20Headquarters%20Committee%20on%20Contracts%20and%20Property%20Survey%20Board.pdf" target="_blank">HCCPSB - Headquarters Committee on Contracts and Property Survey Board</a></li>
      </ul>
      </li>
      </ul>
      <p><strong>Department of Peacekeeping Operations,&nbsp;Department of Field Support and Field Missions</strong></p>
      <ul>
      <li><a href="/sites/archives.un.org/files/uploads/PHRS%20big%20bucket%20%20Final%20_April%2016.pdf">PHRS - Department of Peacekeeping and Field Support Retention Schedule</a></li>
      <li><a href="/sites/archives.un.org/files/uploads/PKO%20Big%20bucket%20Final%20for%20dfs%20dpko%20-with%20cms_hom_april%2016.pdf">PKO - Field Missions Retention Schedule</a></li>
      </ul>
      <p><strong>Department of Political Affairs</strong></p>
      <ul>
      <li><a href="https://archives.un.org/sites/archives.un.org/files/uploads/DPA%20-%20Department%20of%20Political%20Affairs.pdf" target="_blank">DPA - Department of Political Affairs</a></li>
      </ul>
      <p><strong>Department of Public Information</strong></p>
      <ul>
      <li><a href="https://archives.un.org/sites/archives.un.org/files/uploads/SCOM%20-%20Strategic%20Communications%20Division.pdf" target="_blank">SCOM - Strategic Communications Division</a></li>
      <li><a href="http://archives.un.org/sites/archives.un.org/files/uploads/UNRIC%20-%20United%20Nations%20Regional%20Information%20Center%20for%20Western%20Europe.pdf" target="_blank">UNRIC - United Nations Regional Information Centre for Western Europe, Strategic Communications Division</a></li>
      </ul>
      <p><strong>Department of Safety and Security</strong></p>
      <ul>
      <li><a href="https://archives.un.org/sites/archives.un.org/files/uploads/SAS%20-%20Department%20of%20Safety%20and%20Security.pdf" target="_blank">DSS - Department of Safety and Security</a></li>
      </ul>
      <p><strong>Executive Office of the Secretary-General</strong></p>
      <ul>
      <li><a href="https://archives.un.org/sites/archives.un.org/files/uploads/EOSG%20-%20Executive%20Office%20of%20the%20Secretary-General.pdf" target="_blank">EOSG - Executive Office of the Secretary-General</a></li>
      </ul>
      <p><strong>Office of the Administration of Justice</strong></p>
      <ul>
      <li><a href="https://archives.un.org/sites/archives.un.org/files/uploads/OAJ%20-%20Office%20of%20the%20Administration%20of%20Justice.pdf" target="_blank">OAJ -&nbsp;Office of the Administration of Justice</a></li>
      </ul>
      <p><strong>Office of Legal Affairs</strong></p>
      <ul>
      <li><a href="/sites/archives.un.org/files/uploads/OLA%20retention%20schedule%20with%20vital%20records%202016_Final.pdf" target="_blank">OLA -&nbsp;Office of Legal Affairs</a></li>
      </ul>
      <p><strong>Office of Internal Oversight Services</strong></p>
      <ul>
      <li><a href="https://archives.un.org/sites/archives.un.org/files/uploads/IAD%20-%20Internal%20Audit%20Division.pdf" target="_blank">IAD - Internal Audit Division</a></li>
      <li><a href="https://archives.un.org/sites/archives.un.org/files/uploads/ID%20-%20Investivgations%20Division.pdf" target="_blank">ID - Investigations Division</a></li>
      </ul>
      <p><strong>United Nations Fund for International Partnerships</strong></p>
      <ul>
      <li><a href="https://archives.un.org/sites/archives.un.org/files/uploads/UNFIP%20-%20United%20Nations%20Fund%20for%20International%20Partnerships.pdf" target="_blank">UNFIP - United Nations Fund for International Partnership</a></li>
      </ul>
      <p><strong>United Nations Ombudsman &amp; Mediation Services</strong></p>
      <ul>
      <li><a href="/sites/archives.un.org/files/uploads/UNOMS%20-%20United%20Nations%20Ombudsman%20and%20Mediation%20Services_0.pdf" target="_blank">UNOMS - Office of the United Nations Ombudsman and Mediation Services </a></li>
      </ul>
    
    </div>
  </div>
{% endblock %}