{% extends "base.html" %}

{% block body %}
  <div class="container">
    <div class="col-lg-6">
		<h2>Retention Schedules</h2>

		General Schedules
		<ul>
		 	<li><a href="">RCUN - Records Common to Most United Nations Offices</a></li>
		 	<li><a href="">United Nations Secretariat ICT</a></li>
		 </ul> <br><br>
		Advisory Committee on Administrative and Budgetary Questions
		<ul>
			<li><a href="">ACABQ - Secretariat of the Advisory Committee on Administrative and Budgetary
		Questions </a></li></ul><br><br>
		Board of Auditors
		<ul>
			<li><a href="">UNBA - Secretariat of the UN Board of Auditors <br><br></a></li>
		</ul>
		Capital Master Plan
		<ul>
		 	<li><a href="">CMP - Capital Master Plan</a></li>
		 </ul> <br><br>
		Department of Economic and Social Affairs
		<ul>
		 	<li><a href="">DESA - Department of Economic and Social Affairs</a></li>
		 </ul> <br><br>
		Department of General Assembly and Conference Management
		<ul>
			<li><a href="">CTU - Contractual Translation Unit</a></li>
		</ul><br><br>
		Department of Management
		<ul>
			<li><a href="">Office of Central Support Services</a></li>
			<li><a href="">Facilities and Commercial Services Division</a></li>
			<li><a href="">CAS - Commercial Activities Service</a></li>
			<li><a href="">ARMS - Archives and Records Management Section</a></li>
			<li><a href="">FMS - Facilities Management Service</a></li>
			<li><a href="">GAR - Garage Administration</a></li>
			<li><a href="">Procurement Division</a></li>
			<li><a href="">PROC - Procurement Service</a></li>
			<li><a href="">Office of Human Resources Management</a></li>
			<li><a href="">OHRM - Office of Human Resources Management</a></li>
			<li><a href="">Office of Programme Planning, Budget and Accounts</a></li>
			<li><a href="">ACCT - Accounts Division</a></li>
			<li><a href="">CONT - Controllers Office</a></li>
			<li><a href="">FIN - Peacekeeping Finance Division</a></li>
			<li><a href="">PPBD - Program Planning and Budget Division</a></li>
			<li><a href="">TREA - Treasury</a></li>
			<li><a href="">Office of the Under-Secretary-General for Management</a></li>
			<li><a href="">HCCPSB - Headquarters Committee on Contracts and Property Survey Board</a></li>
		</ul><br><br>
		
			Department of Peacekeeping Operations and Department of Field Support
		<ul>
			<li><a href="">RCUN.P - Records Common to UN Peacekeeping and Political Operations</a></li>
			<li><a href="">PHRS - Peacekeeping Headquarters Retention Schedule (headquarters)</a></li>
			<li><a href="">PORS - Peacekeeping and Political Operations Retention Schedule (field missions)</a></li>
		</ul><br><br>
		Department of Political Affairs
		<ul>
		 	<li><a href="">DPA - Department of Political Affairs</a></li>
		 </ul> <br><br>
		Department of Public Information
		<ul>
			<li><a href="">SCOM - Strategic Communications Division</a></li>
			<li><a href="">UNRIC - United Nations Regional Information Centre for Western Europe, Strategic Communications Division</a></li>
		</ul><br><br>
		Department of Safety and Security
		<ul>
			<li><a href="">DSS - Department of Safety and Security</a></li>
		</ul><br><br>
		Executive Office of the Secretary-General
		<ul>
		 	<li><a href="">EOSG - Executive Office of the Secretary-General</a></li>
		 </ul> <br><br>
		Office of the Administration of Justice
		<ul>
		 	<li><a href="">OAJ - Office of the Administration of Justice</a></li>
		 </ul> <br><br>
		Office of Internal Oversight Services
		<ul>
		 	<li><a href="">IAD - Internal Audit Division</a></li>
		 	<li><a href="">ID - Investigations Division</a></li>
		 </ul> <br><br>
		United Nations Fund for International Partnerships
		<ul>
			<li><a href="">UNFIP - United Nations Fund for International Partnership</a></li>
		</ul><br><br>
		United Nations Ombudsman & Mediation Services 
		<ul>
			<li><a href="">UNOMS - Office of the United Nations Ombudsman and Mediation Services</a></li>
		</ul>
    </div>



  </div>
{% endblock %}