{% extends "base.html" %}

{% block body %}
  <div class="container">
    <div class="col-lg-6">
      <h1><small>What ARMS can do for your section</small></h1
      <p>The Archives and Records Management Section (ARMS) can assist United Nations departments and offices with all archives and records management needs.<br><br>
      For United Nations departments and offices located in New York City, ARMS can provide on-site visits and meet with management and staff to discuss records issues. United Nations offices and agencies located away from Headquarters should contact ARMS to discuss what arrangements can be made. <br><br>
      Some of the archives and records functions that we offer advice and assistance on include:<br> 
      <ul>
      <li>Developing and improving records management programmes, record plans and records classification schemes</li>
      <li>Managing electronic records</li>
      <li>Selecting record-keeping systems and records management software
      Managing e-mail as records</li>
      <li>Using current records retention schedules</li>
      <li>Developing/updating records retention schedules</li>
      <li>Providing advice on records storage and records need to be retained as archives</li>
      <li>Undertaking records surveys and inventories</li>
      <li>Undertaking a records scanning and digitisation project</li>
      <li>Managing vital records to support business continuity and disaster recovery</li>
      </ul>
     </p>
     <br>
     <p>
      <h4><strong>Using records retention schedules</strong></h4>
      Records retention schedules are crucial records management tools and are a fundamental component part of any records management programme. Records retention schedules are used to determine how long records are to be kept.<br><br>
      Retention Schedules set out appropriate retention periods for all classes of records including the minimum time to keep those records which can then be destroyed, and which records must be kept as archives. Records Retention Schedules authorize the legal and accountable retention and disposition of records. All retention schedules must be approved by ARMS.<br><br>
      There are two main types of schedules:<br>
      <ul>
      <li><strong>Specific or departmental retention schedules</strong> cover records unique to a specific department or business function. Examples include a schedule for the legal records of the Office of Legal Affairs, or a schedule for the pension records of the United Nations Pension Fund.</li>
      <li><strong>General retention schedules</strong> cover records common to more than one UN office which may include general administrative records such as finance, time and attendance or requisition records.</li>
      </ul>
      Applying a retention schedule to records is a process known as "sentencing" the records. ARMS has prepared guidelines on how to sentence records.
     </p>
    </div>
    <div class="col-lg-6">
      <img class="pull-right" src="/static/images/nesh.jpg" width="400">
    </div>
  </div>



</div>
{% endblock %}
